body {
    background-color: black;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

iframe {
    border-radius: 30px;
}

h1 {
    color: white;
}

h3 {
    color: white;
    padding-right: 500px;
}

p {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

p#rede {
    font-size: 10pt;
}

footer {
    color: white;
}

a {
    color: rgb(190, 0, 0);
}