body {
    background-image: linear-gradient(45deg, #411177, #761BDD, #8432E0 40%, #D5B896);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

iframe {
    border-radius: 30px;
}

img {
    border-radius: 120pt;
    border-style: groove;
}

h1 {
    color: white;
}

h3 {
    color: white;
    padding-right: 500px;
}

p {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

p#glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    font-size: 16pt;
}

p#rede {
    font-size: 10pt;
}

footer {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #0ab3e6;
}