body {
    background-image: url("933512.jpg");
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding-top: 250px;
    text-align: center;
    text-shadow: 1px 2px rgb(64, 180, 242);
}